## Import Required Libraries

In [1]:
import pandas as pd

In [ ]:
# Load your dataset
full_df = pd.read_csv('heart.csv')  # Replace with your dataset

# Randomly sample 300 rows
df = full_df.sample(n=300, random_state=42)  # random_state ensures reproducibility

# Save the sampled dataset (optional)
#df.to_csv('sampled_heart.csv', index=False)

In [11]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
668,63,F,ATA,140,195,0,Normal,179,N,0.0,Up,0
30,53,M,NAP,145,518,0,Normal,130,N,0.0,Flat,1
377,65,M,ASY,160,0,1,ST,122,N,1.2,Flat,1
535,56,M,ASY,130,0,0,LVH,122,Y,1.0,Flat,1
807,54,M,ATA,108,309,0,Normal,156,N,0.0,Up,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 668 to 28
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             300 non-null    int64
 1   Sex             300 non-null    object
 2   ChestPainType   300 non-null    object
 3   RestingBP       300 non-null    int64
 4   Cholesterol     300 non-null    int64
 5   FastingBS       300 non-null    int64
 6   RestingECG      300 non-null    object
 7   MaxHR           300 non-null    int64
 8   ExerciseAngina  300 non-null    object
 9   Oldpeak         300 non-null    float64
 10  ST_Slope        300 non-null    object
 11  HeartDisease    300 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 30.5+ KB

In [13]:
# Show Shape of Data
print(f"Number of Rows : {df.shape[0]}\nNumber of Columns : {df.shape[1]}")

Number of Rows : 300
Number of Columns : 12

In [14]:
# check for null values
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [15]:
# describe the statistics of numeric data

df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,300.0,53.363333,9.123346,28.0,47.75,54.0,60.00,76.0
RestingBP,300.0,131.243333,18.257288,80.0,120.00,130.0,140.00,200.0
Cholesterol,300.0,192.383333,116.160495,0.0,158.25,221.0,263.00,564.0
FastingBS,300.0,0.270000,0.444701,0.0,0.00,0.0,1.00,1.0
MaxHR,300.0,137.236667,26.910865,60.0,120.00,138.0,157.25,202.0
Oldpeak,300.0,0.835333,0.967715,-1.1,0.00,0.6,1.50,4.0
HeartDisease,300.0,0.593333,0.492032,0.0,0.00,1.0,1.00,1.0

- No null values present in the data

In [16]:
df.describe(include='object').T

               count unique     top freq
Sex              300      2       M  249
ChestPainType    300      4     ASY  153
RestingECG       300      3  Normal  184
ExerciseAngina   300      2       N  183
ST_Slope         300      3    Flat  140

In [17]:
# check duplication

df.duplicated().sum()

0